In [6]:
df = pd.read_csv(r"D:\true_car_project_full.csv")
df

,Id,Price,Year,Mileage,City,State,City State,Vin,Make,Model,Region
0,1,16472,2015,18681,Jefferson City,MO,Jefferson City MO,KL4CJBSBXFB267643,Buick,EncoreConvenience,Midwest
1,2,15749,2015,27592,Highland,IN,Highland IN,KL4CJASB5FB245057,Buick,EncoreFWD,Midwest
2,3,16998,2015,13650,Boone,NC,Boone NC,KL4CJCSB0FB264921,Buick,EncoreLeather,Southeast
3,4,15777,2015,25195,New Orleans,LA,New Orleans LA,KL4CJASB4FB217542,Buick,EncoreFWD,Southeast
4,5,16784,2015,22800,Las Vegas,NV,Las Vegas NV,KL4CJBSB3FB166881,Buick,EncoreConvenience,Rockies
...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,16995,2015,27095,Honolulu,HI,Honolulu HI,1N4AL3AP4FN388943,Nissan,Altima2.5,Northeast
1048571,1048572,20491,2014,77590,Franklin,WI,Franklin WI,JN8AZ1MWXEW525865,Nissan,MuranoAWD,Northeast
1048572,1048573,19355,2014,34554,King George,VA,King George VA,5N1AT2MV5EC838877,Nissan,RogueSL,Northeast
1048573,1048574,17173,2014,61115,Conroe,TX,Conroe TX,5N1AR2MN5EC727938,Nissan,PathfinderS,Northeast
1048574,1048575,18097,2014,40625,Macon,GA,Macon GA,5N1AT2MV6EC819786,Nissan,RogueSV,Northeast

In [7]:
sum(df.Price.isnull())

0

In [8]:
df.Price.mean()

21067.250472307656

In [9]:
print(df['Price'].quantile(0.10))
print(df['Price'].quantile(0.90))

8998.0
35900.0

In [10]:
df["Price"] = np.where(df["Price"] <8998.0, 8998.0,df['Price'])
df["Price"] = np.where(df["Price"] >35900.0, 35900.0,df['Price'])
print(df['Price'].skew())

0.5147236125716723

In [11]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

13649.0

In [12]:
outliers=((df.Price < (Q1 - 1.5 * IQR)) | (df.Price > (Q3 + 1.5 * IQR)))

In [13]:
print(outliers)

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: Price, Length: 1048575, dtype: bool

In [14]:
for i in df.columns:
    print(df[i].unique())

[      1       2       3 ... 1048573 1048574 1048575]
[16472. 15749. 16998. ... 22002. 25214. 24112.]
[2015 2016 2014 2017 2013 2006 2003 2007 2005 2012 2011 2004 2009 2008
 2001 2010 2018 2002 2000 1999 1997 1998]
[ 18681  27592  13650 ... 127061 194966 126132]
['Jefferson City' 'Highland' 'Boone' ... 'Northfield' 'Huntington Valley'
 'Winslow']
[' MO' ' IN' ' NC' ' LA' ' NV' ' NY' ' CA' ' AR' ' FL' ' AZ' ' KY' ' TN'
 ' MI' ' TX' ' PA' ' OK' ' NJ' ' MD' ' OH' ' GA' ' Va' ' Fl' ' CO' ' ND'
 ' AL' ' IL' ' MA' ' WA' ' WI' ' MN' ' VA' ' KS' ' RI' ' OR' ' MS' ' NM'
 ' SC' ' NE' ' IA' ' NH' ' UT' ' ME' ' CT' ' HI' ' ID' ' DE' ' MT' ' WV'
 ' WY' ' SD' ' AK' ' VT' ' Ga' ' ga' ' Md' ' Ca' ' Oh' ' Az' ' DC']
['Jefferson City MO' 'Highland IN' 'Boone NC' ... 'Fairfield NJ'
 'Columbus Oh' 'Winslow AZ']
['KL4CJBSBXFB267643' 'KL4CJASB5FB245057' 'KL4CJCSB0FB264921' ...
 '5N1AT2MV5EC838877' '5N1AR2MN5EC727938' '5N1AT2MV6EC819786']
['Buick' 'Acura' 'Alfa' 'Aston' 'Audi' 'Bentley' 'BMW' 'Cadillac'
 'Chevrolet' 'Chrysler' 'Dodge' 'FIAT' 'Ford' 'GMC' 'Honda' 'Genesis'
 'Geo' 'Freightliner' 'Ferrari' 'Fisker' 'AM' 'Jeep' 'Kia' 'Lamborghini'
 'Land' 'Lexus' 'Lincoln' 'Lotus' 'Maserati' 'Maybach' 'Mazda' 'McLaren'
 'Mercedes-Benz' 'Mercury' 'MINI' 'Mitsubishi' 'Nissan' 'Oldsmobile'
 'Plymouth' 'Pontiac' 'Porsche' 'Ram' 'Rolls-Royce' 'Saab' 'Saturn'
 'Scion' 'smart' 'Subaru' 'Suzuki' 'Tesla' 'Toyota' 'Volkswagen' 'Volvo'
 'HUMMER' 'Hyundai' 'INFINITI' 'Isuzu' 'Jaguar']
['EncoreConvenience' 'EncoreFWD' 'EncoreLeather' ... 'Sentra' 'Maxima'
 'Rogue4DR']
['Midwest' 'Southeast' 'Rockies' 'Northeast' 'Pacific' 'Southwest']

In [15]:
def clean_data(df):

    le = LabelEncoder()
    df.Region = le.fit_transform(df.Region)
    df = pd.get_dummies(data = df, columns=["Region"], drop_first = False)
    df = df.sort_index(axis=1)
    return df

df = clean_data(df)
df

,City,City State,Id,Make,Mileage,Model,Price,Region_0,Region_1,Region_2,Region_3,Region_4,Region_5,State,Vin,Year
0,Jefferson City,Jefferson City MO,1,Buick,18681,EncoreConvenience,16472.0,1,0,0,0,0,0,MO,KL4CJBSBXFB267643,2015
1,Highland,Highland IN,2,Buick,27592,EncoreFWD,15749.0,1,0,0,0,0,0,IN,KL4CJASB5FB245057,2015
2,Boone,Boone NC,3,Buick,13650,EncoreLeather,16998.0,0,0,0,0,1,0,NC,KL4CJCSB0FB264921,2015
3,New Orleans,New Orleans LA,4,Buick,25195,EncoreFWD,15777.0,0,0,0,0,1,0,LA,KL4CJASB4FB217542,2015
4,Las Vegas,Las Vegas NV,5,Buick,22800,EncoreConvenience,16784.0,0,0,0,1,0,0,NV,KL4CJBSB3FB166881,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,Honolulu,Honolulu HI,1048571,Nissan,27095,Altima2.5,16995.0,0,1,0,0,0,0,HI,1N4AL3AP4FN388943,2015
1048571,Franklin,Franklin WI,1048572,Nissan,77590,MuranoAWD,20491.0,0,1,0,0,0,0,WI,JN8AZ1MWXEW525865,2014
1048572,King George,King George VA,1048573,Nissan,34554,RogueSL,19355.0,0,1,0,0,0,0,VA,5N1AT2MV5EC838877,2014
1048573,Conroe,Conroe TX,1048574,Nissan,61115,PathfinderS,17173.0,0,1,0,0,0,0,TX,5N1AR2MN5EC727938,2014
1048574,Macon,Macon GA,1048575,Nissan,40625,RogueSV,18097.0,0,1,0,0,0,0,GA,5N1AT2MV6EC819786,2014